<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.palmithor.materialdemo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme">
        <activity
            android:name="com.palmithor.materialdemo.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.palmithor.materialdemo.DetailActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.palmithor.materialdemo.MainActivity"/>
        </activity>
    </application>

</manifest>
